body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.contact{
    width: 100%;
}
.contact-section_header{
    margin-left: 120px;
    font-size: 36px;
    border-bottom: 2px solid black;
    width: 90%;
    height: 70px;
}




.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
   
}
.contact-info {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 70PX;
}
.contact-form {
    order: 2;
    flex: 1;
    padding: 20px;
  {/*  background-color: #f5f5f5;*/};
    border-radius: 5px;
}
.contactForm_name{
    display: flex;
    padding: 10px 10px;
   
}
#Name{
    width: 205px;
}
#LastName{
    margin-left: 20px;
    width: 205px;
   
}
.contractForm_email{
padding: 10px 10px;
}

#email{
    {/*width: 650px;*/  }
    
}
.contactForm_textArea{
    padding: 10px 10px;
}
#textArea{
    {/*width: 650px;*/}
}
.contact-form_button{
    width: 460px;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.contact-item p {
    margin: 20px;
}
.contact_info_socialM{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
   



.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item img {
    width: 30px;
    margin-right: 10px;
}





.contact-form input,
.contact-form textarea {
    width: 450px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.contact-form button {
    width: 130px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}